@model IEnumerable<FirstTask_Project.Models.RecruitmentRequest>

@{
    ViewBag.Title = "Index";
}
<h2>Available Jobs</h2>

<table  style="width: 50%; height: 150px;" class="gridx dr_list_table">

        <tr>
            <th>
               Job Title
            </th>
            <th>
                Company Name
            </th>

            <th> Expire in days</th>
        </tr>

        @foreach (var item in Model)
            {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>

                <td>
                   


                        @Html.DisplayFor(modelItem => (item.Deadline - DateTime.Now).Value.Days)
                          
                </td>

            </tr>
        }

    </table>
    
      
